.fb {
    &__layer {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 10;
        background: #fff;
        border: {
            top-left-radius: rem(6px);
            top-right-radius: rem(6px);
        }
        box-shadow: rem(0 0 10px 4px) rgba(0, 0, 0, 0.2);
        transition: all 0.25s linear;

        &__touch {
            position: relative;
            width: 100%;
            height: rem(40px);
            font-size: 0;

            &:before {
                content: "";
                position: absolute;
                top: rem(10px);
                left: 50%;
                z-index: 5;
                width: rem(50px);
                height: rem(3px);
                background: $bluedark;
                border-radius: rem(6px);
                transform: translate(-50%, 0);
            }
        }

        &__wrapper {
            overflow: hidden;
            width: 100%;
            height: 100%;
            padding: rem(0 0 80px);

            &.scroll {
                overflow-y: auto;
                height: rem(600px);
            }

            &.default {
                overflow: hidden;
                height: 100%;
            }
        }

        &__list {
            padding: rem(20px 15px);
            border-bottom: 1px solid $bright;
            
            &:last-child {
                border-bottom: 0;
            }
        }
        
        &__name {
            display: block;
            @include fontcss($bluedark, bold, rem(18px), 1.2);
        }

        &__info {
            margin-top: rem(6px);
            @include fontcss($dark, 600, rem(13px), 1.2);
        }

        &__desc {
            margin-top: rem(6px);
            @include fontcss($medium, 400, rem(13px), 1.4);
        }

        &__menus {
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            margin-top: rem(10px);

            .menus {
                &__name {
                    padding: rem(4px 6px 3px);
                    background: $yellow;
                    border-radius: rem(10px);
                    margin: rem(0 4px 4px 0);
                    @include fontcss($bluedark, 400, rem(12px), 1.2);
                }
            }
        }

        &__img {
            overflow-x: auto;
            display: block;
            width: 100%;
            margin-top: rem(12px);

            img {
                display: inline-block;
                width: rem(150px);
                height: auto;
                vertical-align: top;
            }
        }

        &__open {
            position: absolute;
            bottom: rem(100px);
            left: 50%;
            z-index: 1;
            padding: rem(6px 10px 6px);
            background: $white;
            border: rem(2px) solid $bluedark;
            border-radius: rem(20px);
            @include fontcss($bluedark, bold, rem(12px), 1.2);
            transform: translate(-50%, 0);
        }

        &__empty {
            padding-top: rem(20px);
            @include fontcss($bluedark, 400, rem(14px), 1.5);
            text-align: center;
        }
    }
}