.fb {
    &__main {
        display: flex;
        align-items: center;
        position: relative;
        height: 100%;
        background: $pcolor;

        &__wrapper {
            padding: rem(0 30px);
        }   

        &__recommend {
            margin: rem(0 0 40px);

            .recommend {
                &__text {
                    display: block;
                    @include fontcss($black, 200, rem(30px), 1.2);
                }

                &__rolling {
                    position: relative;
                    overflow: hidden;
                    height: rem(64px);
                }

                &__wrapper {
                   transform: translate(0, 0);
                }

                &__menu {
                    display: block;
                    padding: rem(14px 0);
                    @include fontcss($bluedark, 400, rem(30px), 1.2);

                    &--before {
                        position: relative;
                        z-index: 5;
                        width: 100%;
                        background: $pcolor;
                    }
                }
            }
        }

        &__nav {
            display: block;

            .nav {
                &__button {
                    display: inline-block;
                    margin-right: rem(20px);
                    @include fontcss($bluedark, 600, rem(22px), 1.4);
                }
            }
        }
        
    }
}