.fb {
    &__restaurants {
        overflow: auto;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 5;
        width: 100%;
        height: 100%;
        // top: rem(80px);
        // height: calc(100% - #{rem(80px)});

        &::-webkit-scrollbar {
            display: none;
        }

        &__space {
            min-height: 70%;
            font-size: 0;

            &.max {
                min-height: 89%;
            }
        }

        &__cont {
            position: relative;
            min-height: 30%;
            padding: rem(25px 0 0);
            background: #fff;
            border-top-left-radius: rem(6px);
            border-top-right-radius: rem(6px);
            box-shadow: rem(0 0 10px 4px) rgba(0, 0, 0, 0.2);
        }

        &__touch {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: rem(25px);
            font-size: 0;

            &:before {
                content: "";
                position: absolute;
                top: rem(10px);
                left: 50%;
                z-index: 5;
                width: rem(60px);
                height: rem(4px);
                background: $bluedark;
                border-radius: rem(6px);
                transform: translate(-50%, 0);
            }
        }

        &__scroll {
            height: 100%;
            padding: rem(0 0 40px);
        }

        &__list {
            padding: rem(20px 15px);
            border-bottom: 1px solid $bright;
        }
        
        &__name {
            display: block;
            margin-bottom: rem(6px);
            @include fontcss($bluedark, bold, rem(18px), 1.2);
        }

        &__desc {
            @include fontcss($dark, 200, rem(13px), 1.2);
        }

        &__img {
            overflow-x: auto;
            display: block;
            width: 100%;
            margin-top: rem(12px);

            img {
                display: inline-block;
                width: rem(150px);
                height: auto;
                vertical-align: top;
            }
        }

        &__close {
            // display: none;
            position: fixed;
            left: 50%;
            bottom: rem(70px);
            padding: rem(6px 10px 6px);
            background: $yellow;
            // border: 1px solid $bluedark;
            border-radius: rem(10px);
            @include fontcss($bluedark, bold, rem(12px), 1.2);
            transform: translate(-50%, 0);
            box-shadow: rem(0 0 4px 2px) rgba(0, 0, 0, 0.4);
            
            &.show {
                display: block;
            }
        }
    }
}