.fb {
    &__search {
        position: fixed;
        top: 0;
        left: 0;
        z-index: 4;
        width: 100%;
        height: rem(80px);
        padding: rem(15px 20px);
        // z-index: 10;
        // padding: rem(20px 20px);
        // background: #fff;

        &__wrapper {
            display: flex;
            flex-wrap: nowrap;
            justify-content: space-between;
            align-items: center;
        }

        &__input {
            width: rem(280px);
            margin-right: rem(20px);
            padding: rem(14px 16px);
            border-radius: rem(6px);
            @include fontcss($black, 400, rem(13px), 1.2);
            text-align: left;
            // border: 1px solid $medium;
            box-shadow: rem(0 0 10px 4px) rgba(0, 0, 0, 0.2);

            &::placeholder {
                color: $medium;
            }

            &::-webkit-search-cancel-button {
                display: none;
            }
        }

        &__button {
            width: rem(30px);
            height: rem(30px);
            background: $medium;
            font-size: 0;
        }
    }
}